.AndroidStudio2.2/
.ICEauthority
.RapidSVN
.Rhistory
.WorkBench/
.Xauthority
.android/
.bash_history
.bash_logout
.bashrc
.bashrc.bak
.cache/
.cinnamon/
.compiz/
.config/
.dbus/
.dmrc
.eclipse/
.gconf/
.gitconfig
.gksu.lock
.gnome/
.gnome2/
.gnupg/
.hplip/
.java/
.local/
.macromedia/
.mozilla/
.p2/
.pki/
.profile
.profile~
.remmina/
.rstudio-desktop/
.ssh/
.subversion/
.sudo_as_admin_successful
.swt/
.thunderbird/
.viminfo
.vnc/
.xsession
.xsession-errors
.xsession-errors.old
2228147T_OS3.docx
AMDAPPSDK-3.0/
Android/
Desktop/
Downloads/
Pictures/
R/
Second-Assessed-CourseWork.pdf
android-studio/
apache-tomcat-9.0.0.M11/
apktool/
bin/
disassembliedclassdex.txt
etc/
examples.desktop
fuzzyfingerprint.txt
include/
lib/
out.txt
output.txt
swift-2.2.1-RELEASE-ubuntu14.04/
workspace/.metadata/
workspace/.recommenders/
workspace/MSAAssignment/.gitignore
workspace/RemoteSystemsTempFiles/
workspace/Servers/
